.h4{
    padding-left: 1.5rem;
}
.bg{
   background-image: url('login-im.jpg');
    }
    
 .font{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:3rem;
    font-weight: bold;
 }   
 .fs{
    font-size:2rem;
    color: white;
 }
 .ftr{
    width:100%;
    position:fixed;
    bottom:0rem;
    left:0px;
 }
